/*transform*/
@keyframes transform {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0px);
    }
}

/*运动中的球*/
@keyframes spin {
    0% {
        transform: rotate(-30deg) scaleY(.5) rotate(0deg);
    }

    100% {
        transform: rotate(-30deg) scaleY(.5) rotate(360deg);
    }
}

@keyframes anti-spin {
    0% {
        transform: rotate(0deg) scaleY(2) rotate(30deg) scale(1);
    }

    100% {
        transform: rotate(-360deg) scaleY(2) rotate(30deg) scale(1);
    }
}

@keyframes square-to-circle {
    0% {
        border-radius: 0 0 0 0;
        background: coral;
        transform: rotate(0deg);
    }

    25% {
        border-radius: 50% 0 0 0;
        background: darksalmon;
        transform: rotate(45deg);
    }

    50% {
        border-radius: 50% 50% 0 0;
        background: indianred;
        transform: rotate(90deg);
    }

    75% {
        border-radius: 50% 50% 50% 0;
        background: lightcoral;
        transform: rotate(135deg);
    }

    100% {
        border-radius: 50%;
        background: darksalmon;
        transform: rotate(180deg);
    }
}

@keyframes xMove {
    0% {}

    100% {
        transform: translateX(300px);
    }
}

@keyframes yMove {
    0% {}

    100% {
        transform: scale(0.5) translateY(200px);
    }
}