@import "./mixin.scss";

.head {
    &-top {
        @include mainBg;
        width: 100px;
        font-size: 18px;
        color: aqua;
    }

    &-content {
        font-size: 24px;
        color: yellow;
    }

    &-foot {
        font-size: 30px;
        color: yellowgreen;
    }
}